<div class="main-container" fxLayout="column">
    <div class="header" fxLayout="row" fxLayoutAlign="start center">
      <div class="logo">
        <img src="../../../assets/education.png" routerLink="/home">
      </div>
      <div class="logo-name">
        <span class="text" routerLink="/home">Bookstore</span>
      </div>
    </div>
  
    <div class="body" fxLayout="column" fxLayoutAlign="center center">
      <div class="forgot" fxLayout="column" fxLayoutAlign="center center">
        <span class="forgot-pass">Forgot Your Password?</span>
      </div>
  
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div class="rectangle" fxLayout="column" fxLayoutAlign="center center">
          <div class="instruction">
            <span class="instruction-text">Enter your email address and we'll send you a link to reset your password.</span>
          </div>
          <div class="email-box" fxLayout="column" fxLayoutAlign="center stretch">
            <mat-label>Email Id</mat-label>
            <mat-form-field appearance="outline" >
                <input matInput type="email" formControlName="email">
                <mat-error>Enter valid Email id</mat-error>
            </mat-form-field>
          </div>
          <button mat-raised-button type="submit" class="btn-primary" color="primary">Reset Password</button>
        </div>
        <div class="create-account">
          <button mat-flat-button class="btn" routerLink="/signup">CREATE ACCOUNT</button>
        </div>
      </form>
    </div>
  
  </div>
  