.main-container{
    height: 768px;
    width: 1366px;
    border: 1px solid grey;
  }
  
  .header{
    background-color: #A03037;
    height: 60px;
  }
  .logo{
    margin-left: 180px;
    cursor: pointer;
  }
  .logo-name{
    padding-bottom: 5px;
  }
  .text{
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-left: 5px;
    padding-top: -5px;
    cursor: pointer;
  }
  
  .forgot{
    width: 260px;
    height: 33px;
    margin-top: 101px;
    margin-bottom: 20px;
  }
  .forgot-pass{
    text-align: left;
    font: normal normal bold 20px/28px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
  }
  .rectangle{
    width: 424px;
    height: 287px;
    border: 1px solid #E4E4E4;
    border-radius: 6px 6px 0px 0px;
    margin-bottom: -10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 1px 5px lightgray;
  }
  
  .instruction{
    width: 290px;
    height: 40px;
  }
  .instruction-text{
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
  }
  .email-box{
    width: 290px;
    height: 40px;
    margin-top: 50px;
  }
  ::ng-deep .mat-form-field-flex {
    height: 45px !important;
    align-items: center !important;
    justify-content: center !important;
    border: #E2E2E2;
  }
  .btn-primary{
    width: 70%;
    font-size: 16px;
    color: white;
    font-weight: 500;
    background-color: #A03037;
    margin-top: 30px;
  }
  .create-account{
    width: 423px;
    height: 100px;
    border: 1px solid #E4E4E4;
    background: #F9F9F8 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 1px 1px 5px lightgray;
  }
  .btn{
    background-color: transparent;
    padding-top: 25px;
    width: 100%;
  }