<div class="outer-container" fxLayout="row" fxLayoutAlign="center center">

  <div class="logo-container" fxLayout="column" fxLayoutAlign="center start">
    <img class="logo" src="../../../assets/login.png">
    <p class="text">ONLINE BOOK SHOPPING</p>
  </div>

  <div class="login-signup" fxLayout="column" fxLayoutAlign="center center">

    <div class="header" fxLayout="row" fxLayoutAlign="space-between">

      <div fxLayout="column" fxLayoutAlign="start center">
        <button class="login">LOGIN</button>
        <span class="line"></span>
      </div>
      <div fxLayout="column" fxLayoutAlign="start center">
        <button class="signup" routerLink="/signup">SIGNUP</button>
        <span class="line2"></span>
      </div>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-label>Email Id</mat-label>
        <mat-form-field appearance="outline">
          <input matInput type="email" placeholder="Email" formControlName="email">
          <mat-error>Enter valid Email id</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-label>Password</mat-label>
        <mat-form-field appearance="outline" class="form-field">
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
          <button mat-icon-button type="button" matSuffix (click)="hide = !hide">
            <mat-icon style="color:#9D9D9D">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>Enter valid Password</mat-error>
        </mat-form-field>
      </div>

      <div class="forgot-password">
        <button mat-flat-button type="button" routerLink="/forgetpassword" style="color: #9D9D9D;">
          Forgot Password?
        </button>
      </div>

      <button mat-raised-button type="submit" class="btn-primary" color="primary">Login</button>

      <div class="devider">
        OR
      </div>

      <div class="buttons">
        <button mat-flat-button class="btn-facebook" color="primary" type="button">Facebook</button>
        <button mat-stroked-button class="btn-google" type="button">Google</button>
      </div>
    </form>

  </div>
</div>