<div class="container">
    <img src="../../../assets/OrderSuccess1.png" width="200px">
    <span style="font-size: 24px; font-weight:500;">Order placed successfully</span>
    <img src="../../../assets/OrderSuccess2.png" width="150px">
    <span class="message">
        hurray!!! your order is confirmed the order id is #123456 save the order id for further communication..
    </span>

    <table class="table">
        <tr class="row">
            <th>Email us</th>
            <th>Contact us</th>
            <th>Address</th>
        </tr>
        <tr class="row">
            <td>adminlogin@gmail.com</td>
            <td>+91 1234567890</td>
            <td>42, 14th Main, 15th Cross, Sector 4 ,Tamilnadu 123456</td>
        </tr>
    </table>
    <br>
    <button mat-flat-button color="primary" routerLink="/home/books">Contiuue Shopping</button>

</div>