<div class="main-container" fxLayout="column">
    <div class="header" fxLayout="row" fxLayoutAlign="start center">
      <div class="logo">
        <img src="../../../assets/education.png" routerLink="/home">
      </div>
      <div class="logo-name">
        <span class="text" routerLink="/home">Bookstore</span>
      </div>
    </div>
  
    <div class="body" fxLayout="column" fxLayoutAlign="center center">
      <div class="forgot" fxLayout="column" fxLayoutAlign="center center">
        <span class="forgot-pass">Reset Password?</span>
      </div>
  
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="rectangle" fxLayout="column" fxLayoutAlign="center center">
          <div class="instruction" fxLayout="column" fxLayoutAlign="center center">
            <span class="instruction-text">Enter New Password</span>
          </div>
        <div class="form-content" fxLayout="column" fxLayoutAlign="center stretch">
          <mat-label>Password</mat-label>
          <mat-form-field appearance="outline" class="form-field">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
            <button mat-icon-button type="button" matSuffix (click)="hide = !hide">
                <mat-icon style="color:#9D9D9D">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>Enter valid Password</mat-error>
          </mat-form-field>
        </div>
        <div class="form-content" fxLayout="column" fxLayoutAlign="center stretch">
          <mat-label>Confirm Password</mat-label>
          <mat-form-field appearance="outline" class="form-field">
            <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="Password" formControlName="confirmpassword">
            <button mat-icon-button type="button" matSuffix (click)="hide1 = !hide1">
                <mat-icon style="color:#9D9D9D">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>Password not matched</mat-error>
          </mat-form-field>
        </div>
          <button mat-raised-button type="submit" class="btn-primary" color="primary">Reset Password</button>
        </div>
      </form>
    </div>
  
  </div>
  